 *{
   box-sizing: border-box;
 }
    
    body{
        margin: 1%;
        padding: 1%;
        font-size: 16px;
    }
    @media screen and (max-width: 600px) {
      
    }
    
    @media screen and (max-width: 600px) {
      
    }
    .p1{
      padding-top: 15px;
    }
    .mode {
      float:right;
      max-width: fit-content;
  }
  .change {
      cursor: pointer;
      border: 1px solid rgb(62, 113, 129);
      border-radius: 40%;
      text-align: center;
      padding: 5px;
      margin-left: 8px;
  }
  .dark{
      color: #ffffff;
      background: rgb(0, 0, 0);
}

  button{
    cursor: pointer;
    border: 1px solid #555;
    text-align: center;
    padding: 5px;
    margin-left: 8px; 
}

table
{
  border-collapse:collapse;
  max-width: 100%;
}
td
{
  height:30px;
}
tbody tr:nth-child(even)
{
  /*background: #e3babd;*/
}
tbody tr:nth-child(odd)
{
  /*background: #bae3e0;*/
}

/**
td:nth-child(1)
  {
    background-color: orange;
  }
  td:nth-child(2)
  {
    background-color: blue;
  }
  td:nth-child(3)
  {
    background-color: green;
  }
  td:nth-child(4)
  {
    background-color: rgb(0, 238, 255);
  }
  td:nth-child(5)
  {
    background-color: rgb(56, 56, 180);
  }
  td:nth-child(6)
  {
    background-color: rgb(107, 0, 128);
  }
  td:nth-child(7)
  {
    background-color: rgb(128, 0, 0);
  }

*/

.topOne{
  border:1px solid #555;
  justify-content: center;
  align-items: center;
}

.belowcarousel{
  font-size: 20px;
}

.eth,.ada,.bnb,.usdt {
  margin: 5px;
  background: rgb(5, 67, 92);
  animation: mymove 5s infinite;
}
h5,h3{
  text-decoration: underline;
  text-align: center;
}
@keyframes mymove {
  from {background-color: #db8570;}
  to {background-color:rgb(5, 67, 92);}
}

footer{
  background-color: rgb(62, 113, 129);
  color: white;
  padding: 15px;
  margin-top: 10px;
  }
.foot, .topOne,.aboutus,.belowcarousel{
  display: flex;
  border-bottom: 1px solid rgb(9, 12, 17);
  padding: 15px;
  justify-content: space-between;
}

